<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3>Lista tipova pregleda</h3>

<form>
  <div class="form-group form-inline">
      Pretraži <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Naziv</th>
    <th scope="col">Cena</th>
    <th scope="col">Akcija</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let type of examinationTypes | async; index as i">
    <th scope="row">
      <ngb-highlight [result]="type.id" [term]="filter.value"></ngb-highlight>
    </th>
    <td>
      <ngb-highlight [result]="type.name" [term]="filter.value"></ngb-highlight>
    </td>
    <td>
      <ngb-highlight [result]="type.price" [term]="filter.value"></ngb-highlight>
    </td>
    <td>
      <i (click)="removeExaminationType(type.id)" style="font-size:22px; cursor: pointer;" class="fa fa-trash"></i>
    </td>
  </tr>
  </tbody>
</table>
