<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3>Lista tipova pregleda</h3>

<form>
  <div class="form-group form-inline">
      Pretraži <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Naziv</th>
    <th scope="col">Cena</th>
    <th scope="col">Akcija</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let type of tableData; index as i">
    <th scope="row">
      {{ type.id }}
    </th>
    <td>
      {{ type.name }}
    </td>
    <td>
      {{ type.price }}
    </td>
    <td>
      <i (click)="openExaminationTypeEdit(type.id)" style="font-size:22px; cursor: pointer;" class="fa fa-pencil"></i>&nbsp;
      <i (click)="removeExaminationType(type.id)" style="font-size:22px; cursor: pointer;" class="fa fa-trash"></i>
    </td>
  </tr>
  </tbody>
</table>
