<h3>Istorija pregleda i operacija</h3>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th #div scope="col" sortable="type" (sort)="onSort($event)">Tip</th>
    <th scope="col" sortable="datetime" (sort)="onSort($event)">Datum</th>
    <th scope="col" sortable="doctor" (sort)="onSort($event)">Lekar</th>
    <th scope="col" sortable="clinicName" (sort)="onSort($event)">Klinika</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of tableData; let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ data.type }}</td>
    <td>{{ data.datetime }}</td>
    <td>{{ data.doctor }}</td>
    <td>{{ data.clinicName }}</td>
  </tr>
  </tbody>
</table>