<app-rooms-table [events]="eventsSubject.asObservable()"></app-rooms-table>
<button type="button" class="btn btn-primary" [hidden]="isCollapsed == false" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
  Dodaj salu
</button>
<div class="col-sm-6" [@smoothCollapse]="isCollapsed?'initial':'final'">
  <form>
    <div class="form-group">
      <label for="">Broj sale</label>
      <input type="number" min="10001" class="form-control" name="roomNumber" [(ngModel)]="roomNumber">
    </div>
    <div class="form-group">
      <label for="">Tip sale</label>
      <select class="form-control" name="roomType" [(ngModel)]="roomType">
        <option value="EXAMINATION">Sala za preglede</option>
        <option value="OPERATION">Operaciona sala</option>
      </select>
    </div>
    <button [disabled]="roomNumber == '' || roomType == null" (click)="addRoom()" class="btn btn-primary" type="button">Dodaj</button>
  </form>
  <div class="alert alert-danger mt-sm-3" *ngIf="errorMessage" role="alert">
    {{ errorMessage }}
  </div>
</div>
