<div class="d-flex justify-content-center general">
	<form #loginForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <label for="staticEmail">Email</label>
      <input type="text" formControlName="email" required class="form-control is-in" id="staticEmail" autocomplete="off" placeholder="email@example.com">
      <small class="text-danger"></small> 
    </div>
    <div class="form-group">
      <label for="inputPassword">Lozinka</label>
      <input type="password" formControlName="password" required class="form-control" id="inputPassword">
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
  		{{ errorMessage }}
		</div>
    <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary mb-2">Prijavi se</button>
    <a href="/register">Registruj se</a>
  </form>
</div>
