<form>
  <div class="form-group form-inline">
      Pretraži <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Ime</th>
    <th scope="col">Prezime</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let doctor of doctors | async; index as i">
    <th><ngb-highlight [result]="doctor.id" [term]="filter.value"></ngb-highlight></th>
    <td>
      <ngb-highlight [result]="doctor.firstName" [term]="filter.value"></ngb-highlight>
    </td>
    <td><ngb-highlight [result]="doctor.lastName" [term]="filter.value"></ngb-highlight></td>
  </tr>
  </tbody>
</table>
