<form>
  <div class="form-group form-inline">
    Pretraži <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Ime</th>
    <th scope="col">Prezime</th>
    <th scope="col">Akcija</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let nurse of tableData; index as i">
    <th>
      {{ nurse.id }}
    </th>
    <td>
      {{ nurse.firstName }}
    </td>
    <td>
      {{ nurse.lastName }}
    </td>
    <td>
      <i (click)="removeNurse(nurse.id)" style="font-size:22px; cursor: pointer;" class="fa fa-trash"></i>
    </td>
  </tr>
  </tbody>
</table>
