<div>
	<h2>Lista pacijenata</h2>

	<form>
		<div class="form-group form-inline">
			Pretraži <input class="form-control ml-2" type="text" [formControl]="filter"/>
		</div>
	</form>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col" sortable="jmbg" (sort)="onSort($event)">JMBG</th>
				<th scope="col" sortable="firstName" (sort)="onSort($event)">Ime</th>
				<th scope="col" sortable="lastName" (sort)="onSort($event)">Prezime</th>
        <th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let patient of tableData; let i = index">
				<th scope="row">{{ i + 1 }}</th>
				<td>{{ patient.jmbg }}</td>
				<td>{{ patient.firstName }}</td>
				<td>{{ patient.lastName }}</td>
        <td>
          <div *ngIf="isThatPatient(patient.jmbg); then thenStart else elseStart"></div>
          <ng-template #thenStart>
            <i class="fa fa-play mr-sm-3 enabled" aria-hidden="true"></i>
          </ng-template>
          <ng-template #elseStart>
            <i class="fa fa-play mr-sm-3 disabled" aria-hidden="true"></i>
          </ng-template>
          <div *ngIf="patient.medicalReports.length == 0; then thenInfo else elseInfo"></div>
          <ng-template #thenInfo>
            <i class="fa fa-info-circle disabled" aria-hidden="true"></i>
          </ng-template>
          <ng-template #elseInfo>
            <i class="fa fa-info-circle enabled" aria-hidden="true"></i>
          </ng-template>
        </td>
			</tr>
		</tbody>
	</table>
</div>
