<h3>Zahtevi za godišnji odmor i odsustva</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">JMBG</th>
      <th scope="col">Ime</th>
      <th scope="col">Prezime</th>
      <th scope="col">Početni datum</th>
      <th scope="col">Krajnji datum</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let req of data" (click)="rowSelected(req);">
      <th>
        <ngb-highlight [result]="req.id"></ngb-highlight>
      </th>
      <td>
        <ngb-highlight [result]="req.jmbg"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="req.firstName"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="req.lastName"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="req.startDate"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="req.endDate"></ngb-highlight></td>
      <td>

      </td>
    </tr>
    </tbody>
  </table>

  <form>
    <div class="form-group">
      <label for="jmbgInput">#</label>
      <input type="text" class="form-control" id="idInput" [disabled]="true" name="id" [(ngModel)]="id">
      <!-- TODO: Resiti drugacije slanje jmbg -->
      <input type="text" hidden class="form-control" id="jmbgInput" [disabled]="true" name="jmbg" [(ngModel)]="jmbg">
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="acceptBox" name="accept" [(ngModel)]="accept">
      <label class="form-check-label" for="acceptBox">Odobren</label>
    </div>
    <div class="form-group">
      <label for="messageField">Poruka</label>
      <textarea class="form-control" id="messageField" rows="6"
                name="message" [(ngModel)]="message"></textarea>
    </div>
    <button [disabled]="id == ''" type="button" class="btn btn-primary col-md-2" (click)="processVacation();">Pošalji</button>
  </form>
