<div>
  <form>
    <table>
      <tr>
        <td>Ime:</td>
        <td><input type="text" name="firstname" [(ngModel)]="firstname"></td>
      </tr>
      <tr>
        <td>Prezime:</td>
        <td><input type="text" name="lastname" [(ngModel)]="lastname"></td>
      </tr>
      <tr>
        <td>Email adresa:</td>
        <td><input type="email" name="email" [(ngModel)]="email"></td>
      </tr>
      <tr>
        <td>Adresa:</td>
        <td><input type="text" name="address" [(ngModel)]="address"></td>
      </tr>
      <tr>
        <td>Grad:</td>
        <td><input type="text" name="city" [(ngModel)]="city"></td>
      </tr>
      <tr>
        <td>Država:</td>
        <td><input type="text" name="country" [(ngModel)]="country"></td>
      </tr>
      <tr>
        <td>Kontakt:</td>
        <td><input type="text" name="contact" [(ngModel)]="contact"></td>
      </tr>
      <tr>
        <td>JMBG:</td>
        <td><input type="text" name="jmbg" [(ngModel)]="jmbg"></td>
      </tr>
      <tr>
        <td>Šifra:</td>
        <td><input type="password" name="password" [(ngModel)]="password"></td>
      </tr>
      <tr>
        <td>Potvrdite šifru:</td>
        <td><input type="password" name="repeat" [(ngModel)]="repeat"></td>
      </tr>
      <tr><td colspan=2><input (click)="addAdmin()" type="button" value="Pošalji"></td></tr>
    </table>
  </form>
  <p *ngIf="message">{{message}}</p>
</div>
