<div class="container col-sm-7">
  <h3>Dodavanje admina klinickog centra</h3>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="">Email adresa</label>
      <input type="email" class="form-control" name="email" formControlName ="emailAddress">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="">Šifra</label>
        <input type="password" class="form-control" name="password" formControlName="password">
        <small>Mora da sadrži više od 7 karaktera.</small>
      </div>
      <div class="form-group col-md-6">
        <label for="">Potvrdite šifru</label>
        <input type="password" [class.is-invalid]="errorRePassword" class="form-control" name="repeat" formControlName="repeat">
        <small *ngIf="errorRePassword" class="text-danger">Lozinke se ne poklapaju.</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="">Ime</label>
        <input type="text" class="form-control" name="firstname" formControlName="firstName">
      </div>
      <div class="form-group col-md-6">
        <label for="">Prezime</label>
        <input type="text" class="form-control" name="lastname" formControlName="lastName">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="">Adresa</label>
        <input type="text" class="form-control" name="address" formControlName="address">
      </div>
      <div class="form-group col-md-4">
        <label for="">Grad</label>
        <input type="text" class="form-control" name="city" formControlName="city">
      </div>
      <div class="form-group col-md-3">
        <label for="">Država</label>
        <input type="text" class="form-control" name="country" formControlName="country">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="">JMBG</label>
        <input type="text" class="form-control" name="jmbg" formControlName="jmbg">
        <small>Treba da sadrži broj od 13 cifara.</small>
      </div>
      <div class="form-group col-md-6">
        <label for="">Kontakt telefon</label>
        <input type="text" class="form-control" name="contact" formControlName="contact">
      </div>
    </div>
    <button [disabled]="form.invalid" (click)="addAdmin()" class="btn btn-primary" type="button">Dodaj admina</button>
  </form>
  <div *ngIf="alertType" class="alert alert-{{alertType}} mt-2 text-center" role="alert">
    <p *ngIf="message">{{message}}</p>
  </div>
</div>
