<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div [@sidebaranimation]="isSideBarCollapsed ? 'shown' : 'hidden'" class="bg- border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Klinički centar</div>
    <div class="list-group list-group-flush">
      <!--<a routerLink="/" class="list-group-item list-group-item-action">Početna</a>-->
      <a routerLink="/patient" *ngIf="authority == 'ROLE_PATIENT'" class="list-group-item list-group-item-action">Pacijenti</a>
      <a routerLink="/admin" *ngIf="authority == 'ROLE_CENTER_ADMIN'" class="list-group-item list-group-item-action">Admini kliničkog centra</a>
      <a routerLink="/admincl" *ngIf="authority == 'ROLE_CENTER_ADMIN'" class="list-group-item list-group-item-action">Admini klinike</a>
      <a routerLink="/doctor" *ngIf="authority == 'ROLE_CLINIC_ADMIN'" class="list-group-item list-group-item-action">Lekari</a>
      <!--<a routerLink="/nurse" class="list-group-item list-group-item-action">Sestre</a>-->
      <a routerLink="/nurse" *ngIf="authority == 'ROLE_DOCTOR' || authority == 'ROLE_NURSE'" class="list-group-item list-group-item-action">Lista pacijenata</a>
      <a routerLink="/clinic"*ngIf="authority == 'ROLE_CENTER_ADMIN'" class="list-group-item list-group-item-action">Klinike</a>
      <a routerLink="/room" *ngIf="authority == 'ROLE_CLINIC_ADMIN'" class="list-group-item list-group-item-action">Sale</a>
      <a routerLink="/examination-type" *ngIf="authority == 'ROLE_CLINIC_ADMIN'" class="list-group-item list-group-item-action">Tipovi pregleda</a>
      <a routerLink="/codebook" *ngIf="authority == 'ROLE_CENTER_ADMIN'" class="list-group-item list-group-item-action">Šifarnik</a>
      <a routerLink="/registration-req" *ngIf="authority == 'ROLE_CENTER_ADMIN'" class="list-group-item list-group-item-action">Obrada registracija</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle" (click)="toggle()">&#9776;</button>

      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9660;
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Klinički centar <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="dropdownConfig" role="button">
              Nalog
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig" class="dropdown-menu">
              <a href="#" (click)="openProfile()" ngbDropdownItem>Profil</a>
              <div class="dropdown-divider"></div>
              <a href="#" ngbDropdownItem (click)="onLogout()">Odjavi se</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
      <app-calendar></app-calendar>
    </div>
  </div>
</div>
