<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div [@sidebaranimation]="isSideBarCollapsed ? 'shown' : 'hidden'" class="bg- border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Klinički centar</div>
    <div class="list-group list-group-flush">
      <a routerLink="/" class="list-group-item list-group-item-action">Početna</a>
      <a routerLink="/patient" class="list-group-item list-group-item-action">Pacijenti</a>
      <a routerLink="/admin" class="list-group-item list-group-item-action">Admini kliničkog centra</a>
      <a routerLink="/admincl" class="list-group-item list-group-item-action">Admini klinike</a>
      <a routerLink="/doctor" class="list-group-item list-group-item-action">Lekari</a>
      <a routerLink="/clinic" class="list-group-item list-group-item-action">Klinike</a>
      <a routerLink="/codebook" class="list-group-item list-group-item-action">Šifarnik</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle" (click)="toggle()">&#9776;</button>

      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9660;
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Klinički centar <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profil</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
