<div class="modal-content" [class.close-animation]="close">
<div class="modal-header">
	 <h5 class="modal-title">Izmena sale</h5>
</div>
<div class="modal-body">
<form [formGroup]="roomEditForm">
  <div class="form-group row">
  	<label class="col-sm-3 col-form-label">Broj sobe</label>
    <div class="col">
			<input type="text" class="form-control" hidden formControlName="id"> <!-- skloniti nekako -->
      <input type="text" class="form-control" [class.is-invalid]="roomEditForm.get('roomNumber').invalid" formControlName="roomNumber">
    </div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-3 col-form-label">Tip sale</label>
    <div class="col">
			<select class="form-control" formControlName="type" name="roomType">
        <option value="EXAMINATION">Sala za preglede</option>
        <option value="OPERATION">Operaciona sala</option>
      </select>
    </div>
  </div>
</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="closeDialog()">Zatvori</button>
  <button type="button" ngbAutofocus class="btn btn-primary" (click)="updateRoom()">Primeni</button>
</div>
</div>
