<app-examination-type-view [events]="eventsSubject.asObservable()"></app-examination-type-view>
<div>
  <h3>Dodavanje tipa pregleda</h3>
  <form>
    <div class="form-group">
      <label for="">Naziv</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label for="">Cena</label>
      <input type="number" class="form-control" name="price" [(ngModel)]="price">
    </div>
    <button (click)="addExaminationType()" class="btn btn-primary" type="button">Dodaj</button>
  </form>
  <p *ngIf="message">{{message}}</p>
</div>
