<div class="modal-content" [class.close-animation]="close">
<div class="modal-header">
	 <h5 class="modal-title">Profile</h5>
</div>
<div class="modal-body">
<form [formGroup]="profileForm">
  <div class="form-group row">
  	<label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" readonly [attr.disabled]="true" formControlName="emailAddress">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2">Lozinka</label>
    <div class="col">
      <input type="password" [class.is-invalid]="profileForm.get('password').invalid" class="form-control" formControlName="password">
      <small>Mora da sadrži više od 7 karaktera.</small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2">Potvrda</label>
    <div class="col">
      <input type="password" [class.is-invalid]="errorRePassword" class="form-control" formControlName="rePassword">
      <small *ngIf="errorRePassword" class="text-danger">Lozinke se ne poklapaju.</small>
    </div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-2">Ime</label>
    <div class="col">
      <input type="text" [class.is-invalid]="profileForm.get('firstName').invalid" class="form-control" formControlName="firstName">
    </div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-2">Prezime</label>
    <div class="col">
      <input type="text" [class.is-invalid]="profileForm.get('lastName').invalid" class="form-control" formControlName="lastName">
    </div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-2">Adresa</label>
    <div class="col">
      <input type="text" [class.is-invalid]="profileForm.get('address').invalid" class="form-control" formControlName="address">
    </div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-2">Grad</label>
    <div class="col">
      <input type="text" [class.is-invalid]="profileForm.get('city').invalid" class="form-control" formControlName="city">
    </div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-2">Država</label>
    <div class="col">
      <input type="text" [class.is-invalid]="profileForm.get('country').invalid" class="form-control" formControlName="country">
    </div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-2">Kontakt</label>
    <div class="col">
      <input type="text" [class.is-invalid]="profileForm.get('contact').invalid" class="form-control" formControlName="contact">
    </div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-2">JMBG</label>
    <div class="col">
      <input type="text" [class.is-invalid]="profileForm.get('jmbg').invalid" class="form-control" [attr.disabled]="true"  readonly="" formControlName="jmbg">
    </div>
  </div>
</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="closeDialog()">Zatvori</button>
  <button type="button" ngbAutofocus class="btn btn-primary" (click)="updateProfile()">Primeni</button>
</div>
</div>