<h3>Lista sala</h3>

<form>
  <div class="form-group form-inline">
      Pretraži <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Broj sale</th>
    <th scope="col">Tip sale</th>
    <th scope="col">Akcija</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let room of tableData; index as i">
    <td scope="row">
      {{ room.roomNumber }}
    </td>
    <td>
      {{ room.type }}
    </td>
    <td>
      <i title="Kalendar zauzeca" (click)="openCalendar(room.roomNumber)" style="font-size:22px; cursor: pointer;" class="fas fa-info-circle mr-sm-3"></i>
      <i title="Izmena" (click)="openRoomEdit(room.roomNumber)" style="font-size:22px; cursor: pointer;" class="fa fa-pencil-alt mr-sm-3"></i>
      <i title="Brisanje" (click)="removeRoom(room.roomNumber)" style="font-size:22px; cursor: pointer;" class="fa fa-trash mr-sm-3"></i>
    </td>
  </tr>
  </tbody>
</table>
