<app-search-examination (updateView)="updateTable($event)"></app-search-examination>
<h3>Lista klinika</h3>
<br>
<form>
  <div class="form-group form-inline">
      Pretraži <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" sortable="name" (sort)="onSort($event)">Naziv</th>
    <th scope="col" sortable="address" (sort)="onSort($event)">Adresa</th>
    <th scope="col" sortable="clinicGrade" (sort)="onSort($event)">Ocena</th>
    <th *ngIf="extended">Cena</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableData; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ data.name }}</td>
      <td>{{ data.address }}</td>
      <td>
        <bar-rating [readOnly]="true" [theme]="'default'" [rate]="data.clinicGrade" [max]="5"></bar-rating>
      </td>
      <th *ngIf="extended"><span class="exam-cost">{{ data.examinationPrice }}</span><i (click)="openClinic(data, false)" class="fas fa-external-link-alt exam"></i></th>
      <td><i (click)="openClinic(data, true)" class="fas fa-info-circle clinic-details"></i></td>
    </tr>
  </tbody>
</table>