/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/bootstrap/main.css';

.out-of-range{
  opacity: .7;
  background-color: #f2f3f6;
}

.days-off {
  opacity: .4;
  background: repeating-linear-gradient(
      -45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
}

.fc-view-container {
  background-color: rgba(255, 255, 255, 0.4);
}

.fc td {
  border-color: #737373 !important;
}

.fc-today {
  opacity: .7;
}

.fc-highlight {
  background-color: black;
}
