<div class="form-group form-inline">
  Pretraži <input class="form-control ml-2" type="text" [formControl]="filter"/>
</div>
<table class="table">
	<thead>
		<th>#</th>
		<th>Lekar</th>
		<th>Ocena</th>
	</thead>
	<tbody>
		<ng-container *ngFor="let d of tableData; let i = index">
			<tr class="doc">
				<th>{{ i + 1 }}</th>
				<td>{{ d.firstName }} {{ d.lastName }}</td>
				<td>
					<bar-rating 
						[readOnly]="true"
						[theme]="'default'" 
						[rate]="d.grade" 
						[max]="5">
					</bar-rating>
				</td>
			</tr>
			<tr class="badges">
				<td colspan="3">
					<ng-container *ngFor="let time of d.freeIntervals">
						<span *ngIf="time.marker == undefined" class="time-badge badge badge-pill
					 	badge-primary" (click)="requestAppointment(time, d.id, $event)">{{ time.start | date: 'HH:mm' }}</span>
					</ng-container>
				</td>
			</tr>
		</ng-container>
	</tbody>
</table>
<ngb-alert *ngIf="showAlert" [dismissible]="false" [type]="alertType">
	<div *ngIf="alertType == 'success'">
  	<strong>Poslat zahtev!</strong> Uspešno ste poslali zahtev za pregled {{ examinationTime | date: 'dd-MM-yy HH:mm' }}. Obavestićemo Vas mejlom o daljim koracima.
  </div>
  <div *ngIf="alertType == 'danger'">
  	<strong>Ups!</strong> Došlo je do neočekivane greške prilikom rezervacije termina, molimo Vas da pokušate kasnije.
  </div>
</ngb-alert>