<div class="mt-4 mb-4 container">
  <full-calendar #fc
      *ngIf="grayDays"
      defaultView="dayGridMonth"
      themeSystem="bootstrap"
      aspectRatio="1.75"
      [views]="{
        month: {
          titleFormat: 'MMMM, YYYY',
          columnHeaderFormat: 'ddd'
        },
        week: {
          titleFormat: '{MMMM {D}}, YYYY',
          columnHeaderFormat: 'ddd D/M'
        },
        day: {
          titleFormat: '{MMMM {D}}, YYYY',
          columnHeaderFormat: 'dddd'
        }
      }"
      eventTimeFormat="HH:mm"
      slotLabelFormat="HH:mm"
      [selectable]="selectionEnabled"
      [unselectAuto]="false"
      [fixedWeekCount]="false"
      (dayRender)="renderDaysOff($event);"
      (select)="setSelection($event);"
      [header]="{
          center: 'title',
          left: 'dayGridMonth,timeGridWeek,timeGridDay',
          right: 'prev,next,today,timeOffButton'
      }"
      [plugins]="calendarPlugins"
      [events]="calendarEvents"
      [locales]="locales"></full-calendar>
  <button class="btn btn-primary mb-3 mt-2 col-sm-2 float-left"
          *ngIf="isDoctor();"
          (click)="startAppointment();">Pokreni pregled</button>
  <button class="btn btn-primary mb-3 mt-2 col-sm-2 float-right"
          *ngIf="isMedical();"
          (click)="showTimeOffModal();">Zatraži odsustvo</button>
</div>
