<div class="d-flex justify-content-center">
  <form #registerForm="ngForm" (ngSubmit)="activate()" [formGroup]="form">
    <h2>Aktivacija naloga</h2>
    <div class="form-group row">
      <div class="col">
        <input type="password" formControlName="password" class="form-control" placeholder="Lozinka">
        <small>Mora da sadrži više od 7 karaktera.</small>
      </div>
      <div class="col">
        <input type="password" (focus)="focusField()" [class.is-invalid]="errorRePassword" formControlName="rePassword" class="form-control" placeholder="Potvrda">
        <small *ngIf="errorRePassword" class="text-danger">Lozinke se ne poklapaju.</small>
      </div>
    </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
      {{ success }}
    </div>
    <div *ngIf="fail" class="alert alert-danger" role="alert">
      {{ fail }}
    </div>
    <div class="but">
      <button type="submit" [disabled]="!registerForm.form.valid" class="btn btn-primary mb-2">Aktiviraj nalog</button>
    </div>
  </form>
</div>
