<div class="d-flex justify-content-center">
  <form (ngSubmit)="register()">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="form.emailAddress" [ngModelOptions]="{standalone: true}" class="form-control" id="staticEmail" placeholder="email@example.com">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-3 col-form-label">Šifra</label>
      <div class="col-sm-10">
        <input type="password" [(ngModel)]="form.password" [ngModelOptions]="{standalone: true}" class="form-control" id="inputPassword">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputRePassword" class="col-sm-3 col-form-label">Potvrdite šifru</label>
      <div class="col-sm-10">
        <input type="password" [(ngModel)]="rePassword" [ngModelOptions]="{standalone: true}" class="form-control" id="inputRePassword">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputFirstname" class="col-sm-3 col-form-label">Ime</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="form.firstName" [ngModelOptions]="{standalone: true}" class="form-control" id="inputFirstname">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLastname" class="col-sm-3 col-form-label">Prezime</label>
      <div class="col-sm-10">
        <input type="text"  [(ngModel)]="form.lastName" [ngModelOptions]="{standalone: true}" class="form-control" id="inputLastname">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputAddress" class="col-sm-3 col-form-label">Adresa</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="form.address" [ngModelOptions]="{standalone: true}" class="form-control" id="inputAddress">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputCity" class="col-sm-3 col-form-label">Grad</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="form.city" [ngModelOptions]="{standalone: true}" class="form-control" id="inputCity">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputCountry" class="col-sm-3 col-form-label">Država</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="form.country" [ngModelOptions]="{standalone: true}" class="form-control" id="inputCountry">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputContact" class="col-sm-3 col-form-label">Kontakt</label>
      <div class="col-sm-10">
        <input type="text"  [(ngModel)]="form.contact" [ngModelOptions]="{standalone: true}" class="form-control" id="inputContact">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputJMBG"class="col-sm-3 col-form-label">JMBG</label>
      <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="form.jmbg" [ngModelOptions]="{standalone: true}"  id="inputJMBG">
      </div>
    </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
      {{ success }}
    </div>
    <div *ngIf="fail" class="alert alert-danger" role="alert">
      {{ fail }}
    </div>
    <button type="submit" class="btn btn-primary mb-2">Registruj se</button>
  </form>
</div>
